<!DOCTYPE html>
<html ng-app="quoteBook">
  <head>
    <meta charset="utf-8">
    <title>Angular Quote Book</title>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
  </head>
  <body ng-controller="MainCtrl">

  <div class="form">
    <div>
      <input class="quoteInput" type="text" placeholder="Add new quote!" ng-model='newQuoteText'>
    </div>
    <div>
      <input class="quoteInput" type="text" placeholder="Quotes author!" ng-model='newQuoteAuthor'>
      <button class="addQuote" ng-click="addQuote()">+</button>
    </div>

     <div>
       <br>
       <input id="filter" placeholder="Filter quotes" type="text" ng-model='filterText'/>
     </div>
  </div>

     <div class="quoteDisplay">
        <p ng-repeat = "quote in quotes | filter: filterText">
         <span class='text'>"{{quote.text}}"</span>
         <span class='author'> -- {{quote.author}}</span>
         <button id="delete" ng-click = "deleteMe(quote.text)">X</button>
        </p>
      </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/mainController.js"></script>
  <script src="js/dataService.js"></script>
  </body>
</html>
